<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sound Bites</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
	</head>
	<div class = 'blue-banner'>Music Vines</div>
	<body class = 'container'>
		<a href="signOut" style="padding:5px">Sign Out</a>
		<a href="uploadPage" style="padding:5px"> Upload Page </a>
		<a href="playSounds" style="padding:5px"> Listen to Your Sounds </a>
		<a href="searchByTag" style="pading:5px">Search By Tag</a>
		<h1>Add friends here:</h1>
		<form method="post" action="addFriend">
			<p>Friend's Username:<input type="text" name="friendToAdd"></p>
			<input type="submit" value="Send Friend Request"></p>
		</form>

		<h1>Your Friends:</h1>
		%s
		<h1>People who want to be your friend:</h1>
		%s
	</body>
</html>
