<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sound Bites</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<div class = 'blue-banner'>Music Vines</div>
	<body background="static/images/MoreNotes.jpg">
		<div class="text-center">
			<a class = "btn" href="signOut" style="padding:5px">Sign Out</a>
			<a class = "btn" href="playSounds" style="padding:5px"> Listen to Your Sounds </a>
			<a class = "btn" href="uploadPage" style="padding:5px"> Upload Page </a>
			<a class = "btn" href="searchByTag" style="pading:5px">Search By Tag</a>
		</div>
		<div class="container">
			<h2><strong>Add friends here:</strong></h2>
			<form method="post" action="addFriend">
				<div class="form-group">
					<input type="text" name="friendToAdd" placeholder="Friend's Username">
				</div>
				<div class="form-group">
					<button class="btn-primary" value="Send Friend Request">Send Friend Request</button>
				</div>
			</form>
			<h2><strong>Your Friends:</strong></h2>
			%s
			<h2><strong>People who want to be your friend:</strong></h2>
			%s
		</div>
	</body>
</html>
