<!DOCTYPE html>
<html>
	<head>
		<title>Sound Bites</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<div class='blue-banner'>Music Vines</div>
	<body class="grey_bg">
        <div class="text-center">
            <a class = "btn" href="signOut" style="padding:5px">Sign Out</a>
            <a class = "btn" href="playSounds" style="padding:5px">Listen To Your Sounds</a>
	        <a class = "btn" href="playRecommended" style="padding:5px">Recommended Sounds</a>
            <a class = "btn" href="uploadPage" style="padding:5px">Upload Page</a>
            <a class = "btn" href="friendPage" style=padding:5px">Friend Information</a>
        </div>
        <div class="container">
            <form method="post" action="getByTag">
                <div class="form-group">
                    <input type="text" name="tagName" placeholder="Tag">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" value="Search by tag">Search By Tag</button>
                </div>
            </form>
            %s
        </div>
    </body>
</html>
