<!DOCTYPE html>
<html>
	<head>
		<title>Sound Bites</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	</head>
	<div class='blue-banner'>Music Vines</div>
	<body class = 'container' background="../images/MusicNotes.jpg">
        <a class = "btn" href="signOut" style="padding:5px">Sign Out</a>
        <a class = "btn" href="playSounds" style="padding:5px">Listen To Your Sounds</a>
        <a class = "btn" href="uploadPage" style="padding:5px">Upload Page</a>
        <a class = "btn" href="friendPage" style=padding:5px">Friend Information</a>
        <form method="post" action="getByTag">
            <input type="text" name="tagName">
            <input type="submit" value="Search by tag">
        </form>
        %s
    </body>
</html>
