.vertical_center {
    vertical-align: middle;
    display: inline-block;
}

.blue-banner {
    background-color: #004d99;
    height: 50px;
    color: white;
    font-family: 'Brush Script MT', cursive;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;
}