.vertical_center {
    vertical-align: middle;
    display: inline-block;
}

.blue-banner {
    background-color: #3b5998;
    height: 50px;
    color: white;
    font-family: 'Brush Script MT', cursive;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;
}

.btn {
    background-color: #ADD8E6;
}

.new_reg {
    background-color: #CA1F7B;
}

.center_div {
    margin: auto;
}

.grey_bg {
    background-color: #dfe3ee;
}